/* Color spaces */

:root {
    --charcoal500: #394956;
    --charcoal600: #2a3b47;
    --charcoal700: #253540;
    --charcoal800: #1d2b36;

    --blue900: #143d57;
    --blue500: #3197d6;
    --basicDarkColor: #D9D9D9;
    --basicDarkBorder: white;

    --layoutBackground: var(--charcoal500, red);
    /* --layoutBackground: var(--charcoal500); */
    --layoutBackgroundLighter: var(--charcoal800, red);
    --layoutColor: var(--basicDarkColor, red);
    /* --layoutBorderLight: var(--basicDarkBorder, red); */
    --layoutBorderLight: var(--charcoal700, red);

    --headerBackground: var(--blue900, red);
    --headerColor: var(--blue500, red);
}



body,
.chzn-drop,
.dropdown-menu,
.redactor_dropdown {
    background-color: var(--layoutBackground) !important;
    color: var(--basicDarkColor) !important;
}

/* Header */
#header {
    background-color: var(--headerBackground) !important;
}
.nav-main>li>a, .nav-secondary>li>a {
    color: var(--headerColor) !important;
}


/* Dropdown menus */
.chzn-drop .chzn-results>.active-result,
.dropdown-menu li>a:not(.search-choice-close):not(.new-docs-collection-link),
.dropdown-menu li>button.is-style-link:not(.search-choice-close),
.dropdown-menu.textboxlist-autocomplete>ul>li,
.redactor_dropdown>a {
    color: var(--basicDarkColor) !important;
}

.chzn-drop .chzn-results>.highlighted,
.dropdown-menu li:hover>a, .dropdown-menu li:hover>button.is-style-link,
.dropdown-menu li>a.hover,
.dropdown-menu li>a:focus,
.dropdown-menu li>a:hover,
.dropdown-menu li>button.is-style-link.hover,
.dropdown-menu li>button.is-style-link:focus,
.dropdown-menu li>button.is-style-link:hover,
.dropdown-menu.textboxlist-autocomplete>ul>li.textboxlist-autocomplete-result-focus,
.dropdown-menu.textboxlist-autocomplete>ul>li:focus,
.dropdown-menu.textboxlist-autocomplete>ul>li:hover,
.dropdown-submenu:focus>a,
.dropdown-submenu:focus>button.is-style-link,
.dropdown-submenu:hover>a,
.dropdown-submenu:hover>button.is-style-link,
.redactor_dropdown>a:focus,
.redactor_dropdown>a:hover,
#sidebarProfile .header {
    background-color: var(--charcoal800) !important;
}

#redactor_modal_overlay,
.c-app-layout__content,
.c-convo-toolbar,
.convo-actions,
.dnZWQz,
.c-profile__card,
.apps-history .sidebar-app.open,
.js-copyEmail hide,
article.singleLine {
    background-color: var(--layoutBackground) !important;
}

.c-app-layout,
.apps-history #properties ul.c-sb-list.c-sb-list--two-line li {
    background-color: var(--layoutBackgroundLighter) !important;
}

.convo-actions > li a > i,
.convo-actions > li a:hover i,
#tktInfo h1,
#tktSubject > #subject,
.messageBody,
.sidebar-heading,
.nav-stacked i,
.nav-stacked > li > a,
#sidebarProfile .c-profile__card a:not(.detail):not(.show-more):not(.custom-property-url),
.diTRlJ,
#sidebarProfile .c-profile__name,
.apps-history h1,
.apps-history #properties ul.c-sb-list.c-sb-list--two-line li,
.apps-history .inner {
    color: var(--basicDarkColor) !important;
}

.convo-actions > li .caret,
.chzn-drop,  
.redactor_dropdown {
    border-color: var(--basicDarkBorder) !important;
}

.c-convo-toolbar,
#tkContent > article,
.dropdown-menu {
    border-color: var(--layoutBorderLight) !important;
}